@font-face {
        font-family:"icons";
        src:url("../fonts/icons-c1cf42a86d6fbfb2605c2b48bf4c8a61.eot");
        src:url("../fonts/icons-c1cf42a86d6fbfb2605c2b48bf4c8a61.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons-c1cf42a86d6fbfb2605c2b48bf4c8a61.woff") format("woff"),
		url("../fonts/icons-c1cf42a86d6fbfb2605c2b48bf4c8a61.ttf") format("truetype");
        font-weight:normal;
        font-style:normal;
}


[data-icon] {
  vertical-align: middle;

  &::before,
  &::after {
    display: inline-block;
    font-family: "icons"; 
    font-size: 18px;
    font-weight: normal !important;
    line-height: 1em !important;
    padding-right: .5em;
    speak: none; 
    text-indent: 0;
    text-transform: none !important;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    @include text-shadow(none);
  }

  &[data-icon-position="after"]{
    &::before {
      content: "" !important;
    }

    &::after {
      padding-left: .5em;
      padding-right: 0;
    }
  }

  &.translucent {
    &::after, &::before {
      @include opacity(0.6);
    }
  }

  &.standalone {
    &:before {
      padding-right: 0;
      vertical-align: middle;

      .ie9 &,
      .lt-ie9 & {
        vertical-align: text-bottom;
      }
    }
  }
}

// Icons
[data-icon="menu"] {
  &::before {
    content:"\f100";
  }

  &[data-icon-position="after"] {
    &::after {
      content:"\f100";
    }
  }
}
[data-icon="together"] {
  &::before {
    content:"\f101";
  }

  &[data-icon-position="after"] {
    &::after {
      content:"\f101";
    }
  }
}

